@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
  font-family: 'NanumSquare', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

h1 {
  width: 888px;
  text-align: center;
  padding-bottom: 30px;
}

.roluette_wrap {
  position: relative;
  width: 888px;
  height: 888px;
}

.roluette {
  margin: 0 auto;
  transition: all 4s;
}

.pin {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 9;
  transform: translate(-50%, -50%);
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
}

.btn button {
  font-size: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  border-style: none;
  font-weight: bold;
}